// Insert your styling here.

img {
	width: 100%;
}

//Featured Project
.banner-image {
	margin-bottom: 40px;
}

#featured-project-details {
	h1 {
		margin: 0 0 15px 0 !important;
	}
	
	h2 {
		margin: 0 0 7px 0 !important;	
	}
}

//Project Carousel

#project-carousel-container {
	padding: 0;
}

//Content Columns
@media(min-width: @screen-xs-max){
	
	.txt-col {
		padding: 0 15% 0 0;
	}
	
	.img-col {
		padding: 0;		
	}
}
