// Insert your styling here.

img {
	width: 100%;
}

//Featured Project
.banner-image {
	margin-bottom: 40px;
}


//Content Columns

@media(min-width: @screen-xs-max){
	
	.txt-col {
		padding: 0 15% 0 0;
	}
	
	.img-col {
		padding: 0;		
	}

	
}
