/*
.node-featured-project {
	position: relative;	
}

.node-project .txt-col {
	padding-top: 20px !important;
}

#project-heading .banner-heading{
	top: 0px !important;
	bottom: auto !important;
}

.banner-heading {
	zoom: 1 !important;
	position: absolute;
	bottom: 20px !important;
}
*/